name: build-test
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container: osrf/ros:humble-desktop
    strategy:
      matrix:
        rosdistro:
          - humble

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Apt update
        run: |
          sudo apt update -y

      - name: Build test
        run: |
          mkdir ../ros2_ws/src -p
          cp -r ./* ../ros2_ws/src
          cd ../ros2_ws/src
          git clone https://github.com/ryotarokarikomi/birthday_msgs.git
          cd ../
          rosdep update
          rosdep install -r -y --from-paths --ignore-src ./
          source /opt/ros/humble/setup.bash
          colcon build --symlink-install
        shell: bash
        
